<div class="player">

  <div class="player-screen">
    <div class="player-screen-lyrics p1">
      <player-lyrics
        [src]="currentSong.lyrics"
        [delay]="currentSong.lyricDelay"
        [onCurrentTimeUpdate]="onLyricsTimeUpdate"
        (onNewLine)="handleLyricsNewLine($event)"
        ></player-lyrics>
    </div>

    <div class="player-screen-controls">
      <nav class="back-button">
        <a routerLink="/songs"><i class="fas fa-angle-left"></i></a>
      </nav>
      <div class="player-info-song">
        <p class="player-info-song-title">{{ currentSong.title }}</p>
        <p class="player-info-song-artist">{{ currentSong.artist }}</p>
      </div>

      <player-audio
        [src]="currentSong.audio"
        (onCurrentTimeUpdate)="handleAudioTimeUpdate($event)"
        ></player-audio>

    </div>
  </div>
</div>
