.player {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 112px;
   box-sizing: border-box;
}

.player-screen {
  display: flex;
  flex: 1;
}

.player-screen-lyrics {
  background: linear-gradient(to bottom, #222 0%, #333 53%, #222 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.player-screen-controls {
  background-color: #3f51b5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 112px;
}
.player-float {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 350px;
}
.player-float mat-icon {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
  float: left;
  margin-right: 2rem;
  display: flex;
}
.player-float .player-info-song {
  margin-left: 4.5rem;
}
.player-info-song-title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.player-info-song-artist {
  color: #fff;
  font-size: 1rem;
}
