
<mat-card>

  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" placeholder="Search" [(ngModel)]="value"/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-list>

    <mat-list-item routerLink="/player/{{song.id}}" *ngFor="let song of songList" [class.songlist-item--selected]="currentSong === song">

      <img *ngIf="song.img" matListAvatar [src]="song.img" [alt]="song.artist">
      <img *ngIf="!song.img" matListAvatar src="/assets/images/default.jpg" [alt]="song.artist">

      <h3 matLine> {{ song.title }} </h3>

      <p matLine>
        <span>{{ song.artist }}</span>
      </p>

    </mat-list-item>

  </mat-list>
</mat-card>
