:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.duration {
  color: white;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 1.75rem;
}

.duration-divider {
  margin: 0 .75rem;
}

.btnplaypause {
  margin: 1.75rem;
}
